<div id="page-wrap">
  <section id="main-content">
    <div id="guts">
      <div class="row">
        <div class="column">
          <%= image_tag '/assets/editorial/sorbet1.jpg', onclick:"openModal();currentSlide(1)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/sorbet2.jpg', onclick:"openModal();currentSlide(5)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/sorbet3.jpg', onclick:"openModal();currentSlide(9)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/chanel1.jpg', onclick:"openModal();currentSlide(13)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/chanel5.jpg', onclick:"openModal();currentSlide(17)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/emma1.jpg', onclick:"openModal();currentSlide(21)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/emma2.jpg', onclick:"openModal();currentSlide(25)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/dior1.jpg', onclick:"openModal();currentSlide(29)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde1.jpg', onclick:"openModal();currentSlide(33)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde5.jpg', onclick:"openModal();currentSlide(37)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde9.jpg', onclick:"openModal();currentSlide(41)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde13.jpg', onclick:"openModal();currentSlide(45)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/nature1.jpg', onclick:"openModal();currentSlide(49)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/horses1.jpg', onclick:"openModal();currentSlide(53)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/horses2.jpg', onclick:"openModal();currentSlide(57)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/freckles1.jpg', onclick:"openModal();currentSlide(61)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/freckles2.jpg', onclick:"openModal();currentSlide(65)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/grazia1.JPG', onclick:"openModal();currentSlide(69)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/gazia5.jpg', onclick:"openModal();currentSlide(73)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/red1.jpg', onclick:"openModal();currentSlide(77)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/red2.jpg', onclick:"openModal();currentSlide(81)", style:"width:100%", loading:"lazy" %>
        </div>
        <div class="column">
          <%= image_tag '/assets/editorial/sorbet4.jpg', onclick:"openModal();currentSlide(2)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/sorbet5.jpg', onclick:"openModal();currentSlide(6)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/sorbet6.jpg', onclick:"openModal();currentSlide(10)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/chanel2.jpg', onclick:"openModal();currentSlide(14)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/chanel10.jpg', onclick:"openModal();currentSlide(18)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/emma3.jpg', onclick:"openModal();currentSlide(22)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/emma4.jpg', onclick:"openModal();currentSlide(26)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/dior2.jpg', onclick:"openModal();currentSlide(30)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde2.jpg', onclick:"openModal();currentSlide(34)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde6.jpg', onclick:"openModal();currentSlide(38)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde10.jpg', onclick:"openModal();currentSlide(42)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde14.jpg', onclick:"openModal();currentSlide(46)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/nature2.jpg', onclick:"openModal();currentSlide(50)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/horses7.jpg', onclick:"openModal();currentSlide(54)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/horses4.jpg', onclick:"openModal();currentSlide(58)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/freckles3.jpg', onclick:"openModal();currentSlide(62)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/freckles4.jpg', onclick:"openModal();currentSlide(66)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/grazia2.JPG', onclick:"openModal();currentSlide(70)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/grazia6.jpg', onclick:"openModal();currentSlide(74)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/red4.jpg', onclick:"openModal();currentSlide(78)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/red5.jpg', onclick:"openModal();currentSlide(82)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/MATH9667.jpg', onclick:"openModal();currentSlide(84)", style:"width:100%", loading:"lazy" %>
        </div>
        <div class="column">
          <%= image_tag '/assets/editorial/sorbet7.jpg', onclick:"openModal();currentSlide(3)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/sorbet8.jpg', onclick:"openModal();currentSlide(7)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/sorbet9.jpg', onclick:"openModal();currentSlide(11)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/chanel3.jpg', onclick:"openModal();currentSlide(15)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/chanel7.jpg', onclick:"openModal();currentSlide(19)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/emma5.jpg', onclick:"openModal();currentSlide(23)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/emma6.jpg', onclick:"openModal();currentSlide(27)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/dior3.jpg', onclick:"openModal();currentSlide(31)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde3.jpg', onclick:"openModal();currentSlide(35)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde7.jpg', onclick:"openModal();currentSlide(39)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde11.jpg', onclick:"openModal();currentSlide(43)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde15.jpg', onclick:"openModal();currentSlide(47)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/nature3.jpg', onclick:"openModal();currentSlide(51)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/horses6.jpg', onclick:"openModal();currentSlide(55)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/horses8.jpg', onclick:"openModal();currentSlide(59)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/freckles5.jpg', onclick:"openModal();currentSlide(63)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/freckles6.jpg', onclick:"openModal();currentSlide(67)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/grazia3.JPG', onclick:"openModal();currentSlide(71)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/grazia7.JPG', onclick:"openModal();currentSlide(75)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/red6.jpg', onclick:"openModal();currentSlide(79)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/red7.jpg', onclick:"openModal();currentSlide(83)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/MATH9781.jpg', onclick:"openModal();currentSlide(85)", style:"width:100%", loading:"lazy" %>
        </div>
        <div class="column">
          <%= image_tag '/assets/editorial/sorbet10.jpg', onclick:"openModal();currentSlide(4)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/sorbet11.jpg', onclick:"openModal();currentSlide(8)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/sorbet12.jpg', onclick:"openModal();currentSlide(12)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/chanel4.jpg', onclick:"openModal();currentSlide(16)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/chanel9.jpg', onclick:"openModal();currentSlide(20)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/emma7.jpg', onclick:"openModal();currentSlide(24)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/emma8.jpg', onclick:"openModal();currentSlide(28)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/dior4.jpg', onclick:"openModal();currentSlide(32)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde4.jpg', onclick:"openModal();currentSlide(36)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde8.jpg', onclick:"openModal();currentSlide(40)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/blonde12.jpg', onclick:"openModal();currentSlide(44)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/nature4.jpg', onclick:"openModal();currentSlide(48)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/horses5.jpg', onclick:"openModal();currentSlide(52)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/horses9.jpg', onclick:"openModal();currentSlide(56)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/freckles7.jpg', onclick:"openModal();currentSlide(60)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/freckles8.jpg', onclick:"openModal();currentSlide(64)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/grazia4.jpg', onclick:"openModal();currentSlide(68)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/grazia8.JPG', onclick:"openModal();currentSlide(72)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/red8.jpg', onclick:"openModal();currentSlide(76)", style:"width:100%", loading:"lazy" %>
          <%= image_tag '/assets/editorial/red9.jpg', onclick:"openModal();currentSlide(80)", style:"width:100%", loading:"lazy" %>
        </div>
      </div>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/sorbet1.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/sorbet4.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/sorbet7.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/sorbet10.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/sorbet2.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/sorbet5.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/sorbet8.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/sorbet11.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/sorbet3.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/sorbet6.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/sorbet9.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/sorbet12.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/chanel1.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/chanel2.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/chanel3.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/chanel4.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/chanel5.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/chanel10.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/chanel7.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/chanel9.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/emma1.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/emma3.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/emma5.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/emma7.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/emma2.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
           <%= image_tag '/assets/editorial/emma4.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/emma6.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/emma8.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/dior1.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/dior2.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/dior3.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/dior4.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde1.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde2.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde3.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde4.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde5.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde6.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde7.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde8.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde9.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde10.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde11.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde12.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde13.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde14.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/blonde15.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/nature4.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/nature1.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/nature2.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/nature3.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/horses5.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/horses1.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/horses7.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/horses6.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/horses9.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/horses2.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/horses4.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/horses8.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/freckles7.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/freckles1.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/freckles3.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/freckles5.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/freckles8.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/freckles2.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/freckles4.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/freckles6.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/grazia4.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/grazia1.JPG', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/grazia2.JPG', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/grazia3.JPG', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/grazia8.JPG', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/gazia5.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/grazia6.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/grazia7.JPG', style:"width:auto" %>
          </div>
          <div class="mySlides">
             <%= image_tag '/assets/editorial/red8.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
             <%= image_tag '/assets/editorial/red1.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
             <%= image_tag '/assets/editorial/red4.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
             <%= image_tag '/assets/editorial/red6.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
             <%= image_tag '/assets/editorial/red9.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
             <%= image_tag '/assets/editorial/red2.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
             <%= image_tag '/assets/editorial/red5.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
             <%= image_tag '/assets/editorial/red7.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/MATH9667.jpg', style:"width:auto" %>
          </div>
          <div class="mySlides">
            <%= image_tag '/assets/editorial/MATH9781.jpg', style:"width:auto" %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
