<div id="page-wrap">
  <div class="container">
    <div class="top">
      <h1 class="title-name"><%= link_to 'DABBY  NAVAL', '/' %></h1>
      <p class="title-work">Stylist</p>
    </div>
    <nav>
      <ul class="group">
        <li class="active"><%= link_to 'Editorial', '/editorial'%></li>
        <li class="active"><%= link_to 'Commissioned', '/commercial' %></li>
        <li class="active"><%= link_to 'Contact', '/contact' %></li>
      </ul>
    </nav>
    <section id="main-content">
      <div id="guts">
        <section class="slideshow">
          <%= image_tag 'img26.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'glasses.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'chanel.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'horsewhisper.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'black.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'lake.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'kimono.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'img22.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'freckles.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'img6.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'gambit.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'emma.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'boy.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'green.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'flowers.jpg', style:'width:60%', class:'caro' %>
          <%= image_tag 'dior.jpg', style:'width:60%', class:'caro' %>
        </section>
      </div>
    </section>
  </div>
</div>

<script>




// slideshow modal for editorial page
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

document.addEventListener(
  "click",
  function(event) {
    // If user either clicks X button OR clicks outside the modal window, then close modal by calling closeModal()
    if (
      event.target.matches(".close") ||
      event.target.matches(".modal")
    ) {
      closeModal()
    }
  },
)

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }

  slides[slideIndex-1].style.display = "block";
}

// Javascript for arrow that scrolls up
//Get the button
var myarrow = document.getElementById("myarrow");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
    myarrow.style.display = "block";
  } else {
    myarrow.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
