<!DOCTYPE html>
<html>
  <head>
    <title>Dabby Naval</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
<!--     <script type='text/javascript' src='js/jquery.ba-hashchange.min.js'></script>
 -->
<!--  <script type='text/javascript' src='js/dynamicpage.js'></script>
 -->  </head>

  <body>
    <%= yield %>
  </body>
</html>
